
@{
    ViewBag.Title = "Login";
}


<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css.css" rel="stylesheet" type='text/css' />
<link href="~/Content/style.css" rel="stylesheet" />



<div class="row">

    <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
        <h2>Login</h2>
        <form action="/Users/Login" method="post" accept-charset="utf-8" class="contact-form">
            <input type="text" name="UserName" id="contact-user" placeholder="用户名" class="form-control input-lg">
            <input type="password" name="PassWord" id="contact-password" placeholder="密码" class="form-control input-lg">
            <div class="buttons clearfix">
                <button type="submit" class="btn btn-xlarge btn-clean-one" id="btnSubmit">登陆</button>
            </div>
        </form>
    </div>
</div>
