
@{
    ViewBag.Title = "Login";
}


<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css.css" rel="stylesheet" type='text/css' />
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    function a() {
        var UserName = document.getElementById("contact-user").value;
        var PassWord = document.getElementById("contact-password").value;
        if (UserName == "") {
            document.getElementById("warnName").innerHTML = "用户名不能为空。";

        } else if (PassWord == "") {
            document.getElementById("warnPwd").innerHTML = "密码不能为空。";

        }
        $.ajax({
            type: 'post',
            url: '/Users/Login',
            data: { Name: UserName, Pwd: PassWord },
            success: function(data) {
                if (data == "suc") {
                    window.location.href = "/Home/Index";
                } else {
                    document.getElementById("warnPwd").innerHTML = "用户名或密码输入错误。";
                }
            }
        });
    }
</script>
<div class="row">

    <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
        <h2>Login</h2>
        <div @*action="/Users/Login" method="post"*@ accept-charset="utf-8" class="contact-form">
            <input type="text" name="UserName" id="contact-user" placeholder="用户名" class="form-control input-lg">
            <span id="warnName" style="color: grey;"></span>

            <input type="password" name="PassWord" id="contact-password" placeholder="密码" class="form-control input-lg">
            <span id="warnPwd" style="color: grey;"></span>

            <div class="buttons clearfix">
                <button type="submit" onclick="a()" class="btn btn-xlarge btn-clean-one" id="btnSubmit">登陆</button>
            </div>
            <div class="buttons clearfix">
                <a href="/Users/Register" class="btn btn-xlarge btn-clean-one">没有账号?点此注册</a>
            </div>
            <div class="buttons clearfix">
                <a href="/Home/Index" class="btn btn-xlarge btn-clean-one">返回主页</a>
            </div>
        </div>
    </div>
</div>
