@{
    ViewBag.Title = "Add";
}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script src="~/Scripts/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>



<h2>Add</h2>
<a href="/Backstage/Index"><i class="glyphicon glyphicon-th"></i>返回</a>

<div class="contact-form">
    <div class="col-md-8 col-sm-8">
        <div @*action="/Backstage/Add" method="post"*@>
            <label for="Title">标题</label>
            <input type="text" class="form-control" name="Title" id="Title" value="" />
            <span style="color: grey;" id="warnTitle"></span>
            <br />
            <div class="form-group">
                <label for="Outline">简介</label>
                <textarea class="form-control" name="Outline" id="Outline"></textarea>
            </div>
            <span style="color: grey;" id="warnOutline"></span>
            <br />
            <label for="Content">正文</label>
            <div>
                <script id="editor" name="Content" type="text/plain" style="width:1024px;height:500px;">
                </script>
            </div>
            <span style="color: grey;" id="warnContent"></span>
            <br />
            @*<div id="btns">
                    <div>
                        <a href="#" onclick="getPlainTxt()">获得带格式的纯文本</a>
                    </div>
                    <div>
                        <a href="#" onclick="getLocalData()" >获取草稿箱内容</a>
                        <a href="#" onclick="clearLocalData()" >清空草稿箱</a>
                    </div>

                </div>*@
            @*<textarea name="Content" id="Content"></textarea><br />*@
            <label for="Tag">标签</label><br />
            <div id="tags"></div>
            @*上次不是教过你了吗，怎么一个破他妈母版页还这么费事？弄不明白的写一行！写一行！上次怎么解决的忘记了？*@
            @*是不是说过让你tag去看看博客园的tag是怎么实现的？一句话！看没看？！？！？！？！？！？*@

            <input type="text" onclick="remove()" class="form-control" name="Tag" id="Tags" /><span style="color: grey;">(多个标签之间用“,”分隔)</span><span style="color: orangered;" id="warning"></span>
            <div style="border: 1px solid black;">
                添加已有标签<br />
                @{
                    int temp = 1;
                }
                @foreach (var tag in ViewBag.tag)
                {
                    <label class="checkbox-inline">
                        <input type="checkbox" name="Tags" id="Tag_@temp" value=@tag>@tag
                    </label><br />
                    temp++;
                }
            </div>
            <input type="submit" class="btn-info" onclick="change()" onmousemove="Ju()" id="submit" value="确认新增">
        </div>
    </div>

</div>
<script>
    function change() {
        var tags = document.getElementById("Tags").value;
        document.getElementById("Tags").value = tags.replace("，", ",");
        var title = document.getElementById("Title").value;
        var outline = document.getElementById("Outline").value;

        //function getContent() {
        //    var arr = [];
        //    arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        //    arr.push("内容为：");
        //    arr.push(UE.getEditor('editor').getContent());
        //    alert(arr.join("\n"));
        //}

        var content = UE.getEditor('editor').getContent();
        var str = document.getElementById("Tags").value;
        var strarr = str.split(",");
        var Tags_temp = "";
        var forNum = @temp - 1;
        for (item in strarr) {
            for (var temp = 1; temp <= forNum; temp++) {
                if (document.getElementById("Tag_" + temp).checked) {
                    if (temp == 1) {
                        Tags_temp += document.getElementById("Tag_" + temp).value;
                    } else {
                        Tags_temp += "," + document.getElementById("Tag_" + temp).value;
                    }
                }
            }
            //document.getElementById("warning").innerHTML = "";
            //document.getElementById("submit").removeAttribute('disabled');
        }
        $.ajax({
            type: 'post',
            url: '/Backstage/Add',
            data: { Title: title,Outline:outline,Contents:content,Tag:str,Tags:Tags_temp },
            success: function (data) {
                if (data == "suc") {
                    window.location.href = "/Backstage/Index";
                } else if (data == "titleNull") {
                    document.getElementById("warnTitle").innerHTML = "标题不能为空";
                } else if (data == "outlineNull") {
                    document.getElementById("warnOutline").innerHTML = "简介不能为空";
                } else if (data == "contentNull") {
                    document.getElementById("warnContent").innerHTML = "内容不能为空";
                }
            }
        });
    }
    function remove() {
        document.getElementById("warning").innerHTML = "";
        document.getElementById("submit").removeAttribute('disabled');
    }
    function Ju() {

        var str = document.getElementById("Tags").value;
        var strarr = str.split(",");
        var Tags_temp = "";
        var forNum = @temp - 1;
        for (item in strarr) {
            for (var temp = 1; temp <= forNum; temp++) {
                if (temp == 1) {
                    Tags_temp += document.getElementById("Tag_" + temp).value;
                } else {
                    Tags_temp += ","+document.getElementById("Tag_" + temp).value;
                }
                if (document.getElementById("Tag_" + temp).value == strarr[item]) {
                    document.getElementById("warning").innerHTML = "↓与已有标签重复↓";
                    document.getElementById("submit").setAttribute("disabled", "disabled");
                }
            }
            //document.getElementById("warning").innerHTML = "";
            //document.getElementById("submit").removeAttribute('disabled');
        }

    }
</script>
@*<script>
        function fun() {
            var newsinput = document.createElement("input");
            var tags = document.getElementById("tags");
            newsinput.setAttribute("id", "Tag");
            newsinput.setAttribute("name","Tag");
            tags.appendChild(newsinput);
        }
    </script>*@
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    //function getPlainTxt() {
    //    var arr = [];
    //    arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
    //    arr.push("内容为：");
    //    arr.push(UE.getEditor('editor').getPlainTxt());
    //    alert(arr.join('\n'))
    //}

    //function getLocalData() {
    //    alert(UE.getEditor('editor').execCommand("getlocaldata"));
    //}

    //function clearLocalData() {
    //    UE.getEditor('editor').execCommand("clearlocaldata");
    //    alert("已清空草稿箱")
    //}
</script>

