
@{
    ViewBag.Title = "TagAdd";
}

<h2>TagAdd</h2>
<form action="/Backstage/TagAdd" method="post">
    <label for="Name">标签名称</label>
    <input type="text" name="Name" id="Name"/><br/>
    <input type="submit" value="提交"/>
</form>
